.form-button{
    display: block;
    background-color: #c800ff;
    padding: 10px 15px;
    margin: 15px auto 0;
    border-radius: 5px;
    cursor: pointer;
}

.form-item{
    margin-bottom: 5px;;
}

.form-item input{
    font: inherit;
    padding: 0.5rem;
    border-radius: 6px;
    border: 1px solid #ccc;
    width: 100%;
}

.form-item input:focus{
    outline:none;
}

.form-item label{
    font-weight: bold;
    display: block;
    margin-bottom: 10px;
}

.form-item.invalid input{
    border: 2px solid red;
}