.overlay{
    height: 100%;
    width: 100%;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0, 0.9);
    overflow-x: hidden;
    transition: 0.5s;
}

.overlay-box {
    position: relative;
    top: 25%;
    left:calc(25% + 50px);
    max-width:650px;
  }

.overlay-box__title{
    height:50px;
    width: 100%;
    padding:15px;
    background-color:purple;
    text-align: left;
    color:#fff;
    font-weight: bold;
    border-radius: 5px 5px 0 0;
}

.overlay-box__content{
    max-height:250px;
    width: 100%;
    padding:15px;
    background-color:#fff;
    text-align: left;
    font-weight: bold;
    border-radius: 0 0 5px 5px;
}

.close-modal{
    background-color: purple;
    width: auto;
    padding:10px;
    color:#fff;
    cursor: pointer;
}